@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* body {
  height: 500vh;
} */

header .container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

header .logo {
  height: 50px;
  width: 175px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

header .logo img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 10px;
}

header .logo h1 {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 0 10px;
  font-size: 15px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #5f5f5f;
}

li a:hover {
  padding-bottom: 2px;
  border-bottom: solid black 2px;
}

li a:active {
  padding-bottom: 2px;
  border-bottom: solid #6c6cf8 2px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
}

/* SECTION IMAGE */

section {
  margin-bottom: 30px;
}

section .container {
  width: 80%;
  background: #2c2a2a;
  height: 355px;

  border-radius: 5px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

section .container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 5px;
}

/*SERVICES BUTTON*/

section .services-btn-container {
  background-color: white;
  width: 70%;
  height: 42px;
  border-radius: 50em;
  text-align: right;
  position: absolute;
  display: flex;
  justify-content: right;
  top: 14em;
  left: 4em;
}

.services-btn-container a {
  font-size: 14px;
  margin: 5px 10px 5px 0;
  padding: 0 20px;
  color: white;
  background-color: #6c6cf8;
  border-radius: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.services-btn-container a:hover {
  background-color: #3131f1;
  transition: 0.3s;
}

.acc-container {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  filter: drop-shadow(8px 8px 10px gray);
  border-radius: 8px;
  overflow: hidden;
}

.welcome-msg {
  position: absolute;
  width: 400px;
  top: 0;
  left: 50px;
  margin: auto 0;
}

.welcome-msg h2 {
  color: #4542f5;
  font-size: 26px;
  text-align: center;
}

.welcome-msg p {
  color: #413f3f;
  font-size: 15px;
  text-align: center;
}

.acc-btn {
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.sign-up {
  width: 80px;
  background-color: #6c6cf8;
  padding: 8px 30px;
  font-size: 14px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border-radius: 6px;
}

.sign-up:hover {
  border: 1px #6c6cf8 solid;
  background-color: #f2f2f2;
  color: #6c6cf8;
}

.log-in {
  width: 80px;
  background-color: #5f5f5f;
  padding: 8px 30px;
  font-size: 14px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border-radius: 6px;
}

.log-in:hover {
  border: 1px #5f5f5f solid;
  background-color: #f2f2f2;
  color: #5f5f5f;
}

/* SERVICES */

/* .services {
  display: flex;
  text-align: center;
  justify-content: center;
}

.services .box {
  background: #f2f2f2;
  margin: 0 50px;
  width: 250px;
  height: 170px;
  padding: 20px;
  border-radius: 7%;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  filter: drop-shadow(8px 8px 10px gray);
}

.services .box:hover {
  transform: rotateZ(-7deg);
}

.services .box h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.services .box img {
  height: 100px;
  width: 100px;
  padding-bottom: 10px;
} */

@media (min-width: 1200px) {
  header .logo {
    width: 200px;
  }

  header .logo img {
    width: 35px;
    height: 35px;
  }

  header .logo h1 {
    font-size: 20px;
  }

  .acc-container {
    width: 600px;
    height: 230px;
  }

  .welcome-msg {
    width: 500px;
    top: 0;
    left: 50px;
    margin: auto;
  }

  .welcome-msg h2 {
    font-size: 30px;
  }

  .welcome-msg p {
    color: #413f3f;
    font-size: 18px;
    text-align: center;
  }

  .acc-btn {
    margin-top: 70px;
    width: 400px;
    height: 70px;
  }

  .sign-up {
    width: 100px;
    font-size: 16px;
  }

  .log-in {
    width: 100px;
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  nav {
    display: none;
  }

  .burger {
    display: block;
    margin-top: 10px;
    height: 30px;
    cursor: pointer;
  }

  header .logo {
    margin: auto;
  }
}

@media (max-width: 767px) {
  nav {
    display: none;
  }

  .burger {
    display: block;
    margin-top: 10px;
    height: 30px;
    cursor: pointer;
  }

  header .logo {
    margin: auto;
  }

  .acc-container {
    width: 450px;
    height: 190px;
  }

  .welcome-msg {
    width: 350px;
    top: 0;
    left: 50px;
  }

  .welcome-msg h2 {
    font-size: 24px;
  }

  .welcome-msg p {
    color: #413f3f;
    font-size: 14px;
  }

  .acc-btn {
    margin-top: 50px;
    width: 350px;
    height: 50px;
  }

  .sign-up {
    width: 70px;
    font-size: 13px;
  }

  .log-in {
    width: 70px;
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  header .logo {
    width: 165px;
  }

  header .logo img {
    width: 28px;
    height: 28px;
  }

  header .logo h1 {
    font-size: 17px;
  }

  section .services-btn-container a {
    font-size: 13px;
  }

  .acc-container {
    width: 400px;
    height: 180px;
  }

  .welcome-msg {
    width: 300px;
    top: 0;
    left: 50px;
  }

  .welcome-msg h2 {
    font-size: 22px;
  }

  .welcome-msg p {
    color: #413f3f;
    font-size: 13px;
  }

  .acc-btn {
    margin-top: 50px;
    width: 320px;
    height: 50px;
  }

  .sign-up {
    width: 70px;
    font-size: 12px;
  }

  .log-in {
    width: 70px;
    font-size: 12px;
  }
}
